/* MISE EN PAGE DE LA PAGE */

nav ul  {
    position: sticky;
    top:0;
    z-index:+2;
}

header, nav {
    position: sticky;
    top:0;
    z-index: 2;
}

#titre {
    margin-top: 10px;
    padding: 1.5rem 0;
}

h2 {
    text-align : center;
    background-color : #008383;
    font-size : 200%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li {
    list-style-type: circle; 
}

/* MISE EN FORME DE LA PARTIE VERTE */

#aside {
    background-color: #008383;
    margin-bottom: 4%;
    margin-right: 4%;
    margin-top: 4%;
    color: white;
    padding: 3rem 1rem 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

/* MISE EN FORME DE LA PARTIE JAUNE */

#complement{
    background-color: #FFBB00;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    color: white;
    text-align: justify;
}

#parcs {
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif
}

/* MISE EN FORME DE LA PARTIE TEXTE */

#texte {
    background-color: #EAECEE;
    padding: 2px 3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

/* MISE EN FORME DE LA PARTIE GRAPHIQUE */

#graphique {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* MISE EN FORME DE LA PARTIE PHOTO */

#photo{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid #008383;
}

/* MENU HORIZONTAL */

nav {
    background-color: #008383; /* Pour que tous le menu soit de couleur vert */
}


nav ul {
    position: relative; /* pour que le block soit "positionné" différemment de static */
    display: inline-block; /* pour que le ul ne prenne pas forcément toute la ligne */
    padding: 0; /* supprimer les marges interne des ul (car indentation des listes = marge gauche par défaut) */    
    float: right; 
}


nav li{
    display: inline-block;  /* inline pour que les li de 1er niveau soient sur une ligne = menu horizontal */
                            /* inline-block pour pouvoir les redimensionner plus bas ! */ 
}

nav ul ul li {
    display: block;    /* Pour que les li des niveaux suivants déroulent verticalement */
}

nav ul ul {
    display: none;     /* Pour masquer les niveaux inférieurs */
}

nav li:hover > ul {
    position: absolute;     /* Pour que la sous-liste soit hors flux = en plus, sans déplacer le reste */
    display: block;         /* ul de niveaux inférieurs sous forme de block */
    z-index: 2;             /* Pour s'assurer que les sous-menus soient affichés "au dessus" */
}

/* Mise en forme des éléments de menus (les "boutons") */

nav li {
    list-style-type: none;  /* Pas de puces */
    width: 14em; /* Taille des étiquettes */
    height: 2em; 
    line-height: 2em; /* Adapte la ligne de la ligne à la hauteur de la boite ==> centrage */   
}

nav li {
    background-color: #008383;  /* Pour que le fond soit vert canard et que l'on voit bien les noms des pages */
}

nav a:link, a:visited {
    text-decoration: none;  /* Supprimer le soulignement des liens */
    color: white; /* Texte en blanc */
    font-family: 'Lato', sans-serif; /* Texte avec la police Lato */
}

nav a:hover {
    color: #FFBB00; /* Pour que lorsqu'on survol les liens, la couleur du texte est orange */
}

/* Rendre tout le bouton cliquable */

nav li > a {       
    display: block; /* Pour que ça marche si on clique sur le texte ou à côté */
    padding: 0 1em; /* Padding sur les côtés pour que le texte ne touche pas la boite */
}